<main>
	<h1>
		Tabla Periódica de los Elementos - Diego Cárdenas
	</h1>
</main>

<div class="container">
	<img src="tablaperiodica.webp" alt="Imagen de la tabla periodica" />
</div>

<style>
	h1 {
		font-family: Inter, Roboto, 'Helvetica Neue', 'Arial Nova', 'Nimbus Sans', Arial, sans-serif;
		font-size: 24px;
		color: #111827;
		margin-top: 0.5em;
		text-align: center; /* Centra el título */
	}

	p {
		color: #4b5563;
		font-size: 18px; /* Tamaño de fuente más legible */
		line-height: 1.5;
		letter-spacing: -0.006em;
		margin: 0;
		text-align: center; /* Centra el texto */
		max-width: 90%; /* Evita que el texto sea demasiado ancho */
	}

	.container {
		width: 100vw; /* Ocupar todo el ancho de la pantalla */
		overflow-x: auto; /* Permite el desplazamiento horizontal */
		white-space: nowrap; /* Evita que la imagen se ajuste automáticamente */
	}

	.container img {
		display: block;
		width: auto; /* Permite que la imagen mantenga su tamaño original */
		height: auto; /* Mantiene la proporción */
		max-height: 90vh; /* Limita la altura para que no sea demasiado grande en la pantalla */
	}
</style>